/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* GLOBAL COLORS */

:root {
    --black: #000000;
    --lgray: #f3f3f3;
    --gray: #f6f6f6;
    --dgray: #414141;
    --default-transition: all ease-out 0.25s;
}

/* CSS RESET */

body,
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

img {
    width: 100%;
}

.main-title {
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}

.section-title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6rem;
}

.desc-bg {
    font-size: 26px;
}

.desc-sm {
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 499px) {
    body {
        font-size: 20px;
    }

    .main-title {
        font-size: 42px;
    }

    .section-title {
        font-size: 30px;
    }

    .desc-bg {
        font-size: 20px;
    }

    .desc-sm {
        font-size: 16px;
    }
}