/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* GLOBAL COLORS */

:root {
    --black: #000000;
    --gray: #f6f6f6;
}

/* CSS RESET */

body,
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

.main-title {
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}

.section-title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.desc-bg {
    font-size: 26px;
}

.desc-sm {
    font-size: 20px;
    text-align: left;
}