.header-container .container {
    padding: 40px 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo {
    color: var(--black);
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: var(--black);
    text-transform: capitalize;
    border-bottom: 1px solid var(--black);
    padding-bottom: 0.2rem;
    transition: var(--default-transition);
}

.nav-link:hover {
    transform: scale(0.95);
}

@media screen and (min-width: 992px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 4rem;
    }

    .nav {
        margin-right: 10rem;
    }
}