/* STYLESHEET-IMPORTS-start */
@import '../base/global.css';
@import '../base/layout.css';
@import '../components/header.css';
@import '../components/buttons.css';
/* STYLESHEET-IMPORTS-end */

/* HERO-SECTION-start */
.hero-container .container {
    padding-top: 0;
}

.hero {
    min-height: 90vh;
    background-image: url('../../assets/img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero-info {
    max-width: 550px;
}

.hero-info .main-title {
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .hero-btns {
        flex-direction: row;
    }
}
/* HERO-SECTION-end */
/* FEATURES-SECTION-start */

.features-container {
    background-color: var(--gray);
}

.features .section-title {
    margin-bottom: 6rem;
}

.features-box-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
}

.feature-box {
    max-width: 320px;
}

.feature-img {
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .features-box-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .features-box-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* FEATURES-SECTION-end */
